.map-container {
    margin-top: 6.4rem;
    background: #E6F7FB;
    border: 1px solid #DDE3F0;
    border-radius: 2rem;
}

#mapid {
    width: 100%;
    height: 28rem;
}

.map-container footer {
    padding: 2rem 0;

    text-align: center;
}

.map-container footer a {
    color: #0089A5;
    text-decoration: none;
    font-weight: 700;
}

.map-container .leaflet-container {
    border-bottom: 1px solid #DDE3F0;
    border-radius: 2rem;
}