aside.sidebar {
    position: fixed;
    height: 100%;
    padding:  32px 24px; /* 3.2rem 2.4rem; */
    background: #15C3D6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #12AFCD;
    border-radius: 1.6rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
}

aside.sidebar footer button:hover {
    background: #17D6EB;
}

.with-sidebar {
    padding-left: 110px;;
}